<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Upload Product</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: ghostwhite;">
<div class="topnav">
    <a class="active" th:href="@{/}">Home</a>
    <a th:href="@{/add/student}">Add Student</a>
</div>
<div>
    <div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
        <div class="container">
            <h1 style="text-align: center; font-family: fantasy;font-size: 30px !important;margin-top: -20px;">Enter the
                Student details</h1>
            <hr>
            <form th:action="@{/add/student}" th:object="${student}" method="post"
                  class="form">
                <div class="form-group">
                    <label for="firstName">firstName</label>
                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName"
                           placeholder="Enter firstName"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}"
                         th:errors="*{firstName}"></div>
                </div>
                <div class="form-group">
                    <label for="lastName">lastName</label>
                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName"
                           placeholder="Enter lastName"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}"
                         th:errors="*{lastName}"></div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" th:field="*{email}" id="email"
                           placeholder="Enter email"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                </div>
                <div class="form-group">
                    <label for="degree">degree</label>
                    <input class="form-control" type="text" th:field="*{degree}" id="degree"
                           placeholder="Enter degree"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('degree')}"
                         th:errors="*{degree}"></div>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input class="form-control" type="text" th:field="*{age}" id="age"
                           placeholder="Enter age"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}"
                         th:errors="*{age}"></div>
                </div>

                <div class="form-group">
                    <label for="age">Courses</label>
                        <input type="checkbox" name="studentCourses"
                               th:each="course : ${courses}"
                               th:text="${course.getCourseName()}"
                               th:value="${course.id}"
                               th:field="*{studentCourses}"
                        />
                </div>


                <input type="submit" class="btn btn-success col-4">
            </form>
        </div>
    </div>

</div>
</body>
</html>