<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Upload Product</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: ghostwhite;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" style="font-family: fantasy;font-weight: 400;font-size: x-large;">Springboot
                Application</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/course/create}">Add New Course</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span>
                    Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
        <div class="container">
            <h1 style="text-align: center; font-family: fantasy;font-size: 30px !important;margin-top: -20px;">Enter the
                Student details</h1>
            <hr>
            <form th:action="@{/course/create}" th:object="${course}" method="post"
                  class="form">
                <div class="form-group">
                    <label for="courseName">Course Name</label>
                    <input class="form-control" type="text" th:field="*{courseName}" id="courseName"
                           placeholder="Enter course name here"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('courseName')}"
                         th:errors="*{courseName}"></div>
                </div>
                <div class="form-group">
                    <label for="totalCreditHours">Total Credit Hours</label>
                    <input class="form-control" type="number" th:field="*{totalCreditHours}" id="totalCreditHours"
                           placeholder="Enter course name here"
                           required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('totalCreditHours')}"
                         th:errors="*{totalCreditHours}"></div>
                </div>

                <input type="submit" class="btn btn-success col-4">
            </form>
        </div>
    </div>

</div>
</body>
</html>