<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">
</head>
<style>
    .dataTables_paginate {
        float: right !important;
    }
</style>
<body style="background-color: ghostwhite;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" style="font-family: fantasy;font-weight: 400;font-size: x-large;">Springboot
                Application</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/course/create}">Add New Course</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span>
                    Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
    <div class="container">
        <h1 style="text-align: center; font-family: fantasy; font-size: 40px !important;margin-top: -20px;">Courses in
            the database</h1>
        <hr>
        <table class="table table-bordered table-responsive-md" id="table_id">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Credit Hours</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.getId()}"></td>
                <td th:text="${course.getCourseName()}"></td>
                <td th:text="${course.getTotalCreditHours()}"></td>
                <td>
                    <a th:href="@{/course/delete/{id}(id=${course.id})}"
                       class="btn btn-danger">Delete</a>
                    <a th:href="@{/course/update/{id}(id=${course.id})}"
                       class="btn btn-warning">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable({
            "dom": "tp",
            "ordering": false,
            "pagingType": "simple",
            "lengthMenu": [10]
        });
    });
</script>
</body>
</html>