<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Student Addresses</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">
</head>
<style>
    .dataTables_paginate {
        float: right !important;
    }
</style>
<body style="background-color: ghostwhite;">
<div class="topnav">
    <a class="active" th:href="@{/}">Home</a>
    <a th:href="@{/add/student}">Add Student</a>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
    <div class="container">
        <h1 style="text-align: center; font-family: fantasy; font-size: 40px !important;margin-top: -20px;">Address
            details of a student</h1>
        <hr>
        <table class="table table-bordered table-responsive-md" id="table_id">
            <thead>
            <tr>
                <th>#</th>
                <th>Complete Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.getId()}"></td>
                <td th:text="${address.getAddress()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable({
            "dom": "tp",
            "ordering": false,
            "pagingType": "simple",
            "lengthMenu": [10]
        });
    });
</script>
</body>
</html>